LINKEDIN_EMAIL=your@email.com
LINKEDIN_PASSWORD=password
TARGET_URL=https://www.linkedin.com/login
JOBS_URL=https://www.linkedin.com/jobs/search-results/?keywords=software%20engineer&origin=JOB_SEARCH_PAGE_JOB_FILTER&referralSearchId=a%2FdJqCPS%2Fqip1Fi4qyjO9Q%3D%3D&f_TPR=r86400&f_SAL=f_SA_id_227001%3A276001
GEMINI_API_KEY=Your_API_Key
DISCORD_BOT_TOKEN=Your_Discord_Bot_Token